html, body {
  font-size: 1em;
  background-color: white;
  color: #666666;
}

h1, h2, p, .larger-text, button {
  font-weight: 300;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

h1 {
  font-size: 4.1em;
  color: #408692;
  line-height: 1.3em;
  margin: 0;
}

h2 {
  font-size: 2.05em;
  color: #3AA85C;
}

.larger-text {
  font-size: 1.2em;
}

a {
  color: #666666;
  text-decoration: none;
  padding-bottom: .1em;
  border-bottom: solid 1px #BFC0C1;
}

a:hover {
  color: #303030;
  text-decoration: none;
  padding-bottom: .1em;
  border-bottom: solid 1px #303030;
}

button {
  background-color: #39A85B;
  color: white;
  font-size: 1.9em;
  padding: .4em .7em;
  margin: 1.1em 0 0 0;
  border: 0;
  border-radius: 2px;
  display: block;
}

button:hover {
  background-color: #73c78d;
}

#zendesk, #heroku, #engineyard, #bittorrent, #moz {
  font-size: 1.9em;
  border-top: solid 10px;
  display: inline-block;
  min-width: 200px;
}

#zendesk {
  color: #78A300;
}

#heroku {
  color: #6863A7;
}

#engineyard {
  color: #EB252C;
}

#bittorrent {
  color: #7665AC;
}

#moz {
  color: #23AAE1;
}

#set-up-in-seconds, #supports-platform, #tests-prs, #deploy-anywhere {
  width: 200px;
}

#set-up-in-seconds, #supports-platform, #tests-prs, #deploy-anywhere, #clojure, #node, #php, #xcode, #ruby, #python, #java, #erlang, #go, #scala, #perl {
  font-size: 1.2em;
  border-top: solid 10px;
  display: inline-block;
  min-width: 89px;
}

#set-up-in-seconds {
  border-color: #97A1AA;
}

#supports-platform {
  border-color: #ED8843;
}

#tests-prs {
  border-color: #E5C025;
}

#deploy-anywhere {
  border-color: #9B8CBA;
}

#clojure {
  border-color: #5881D8;
}

#node {
  border-color: #88C043;
}

#php {
  border-color: #777BB4;
}

#xcode {
  border-color: #3BACFB;
}

#ruby {
  border-color: #F0454E;
}

#python {
  border-color: #EAC821;
}

#java {
  border-color: #E04E3F;
}

#erlang {
  border-color: #AA1E2D;
}

#go {
  border-color: #58B5BF;
}

#scala {
  border-color: #DE322F;
}

#perl {
  border-color: #6082C6;
}

#lisa1, #lisa2 {
  border-radius: 200px;
}

.team-bios {
  text-align: center;
  max-width: 130px;
  margin-top: 20px;
}

.bios {
  margin: 0;
  line-height: 1.5em;
}

.title {
  font-style: italic;
}

.twitter a, a:hover {
  border-bottom: 0;
}

.flags {
  margin-top: 10px;
}

.flags img {
  max-width: 26px;
  max-height: 16px;
}

.flag-divider {
  font-size: 1.3em;
  color: #d9d9d9;
  padding: 0 5px;
}

#open-source, #startup, #small-business, #premium {
  font-size: 1.9em;
  border-top: solid 2px;
  display: inline-block;
  width: 200px;
}

.plans {
  display: inline-block;
}

#open-source {
  color: #DB4242;
  margin-bottom: 0;
}

.oss-button {
  background-color: white;
  font-size: 1.2em;
  color: #DB4242;
  border: solid 1px;
}

#startup {
  color: #39A85B;
}

#small-business {
  color: #40A3AD;
}

#premium {
  color: #E5C025;
}
