html, body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1.1em;
  background-color: white;
  color: #666666;
  font-weight: 300;
}

h1 {
  font-size: 3em;
  color: #666666;
  line-height: .9em;
  border-top: solid 18px #fff;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

.larger-text {
  font-size: 1.2em;
  font-weight: 300;
}
